<template>
  <div class="animated fadeIn">
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'dashboard',
  components: {

  },
  data: function () {
    return {
    }
  },
  methods: {
    
  }
}
</script>
