<template>
    <div class="animated fadeIn">
        <b-card header="Бронь">
            <b-table
                    hover
                    bordered
                    :items="reservations"
                    :fields="{id: '#', reserv_datetime: 'Время', people_count: 'Количество', status: 'Статус', restaurant: 'Ресторан'}"
                    :head-variant="'light'">
                <template slot="status" slot-scope="data">
                    <span v-html="showStatus(data.item.status)"></span>
                </template>
                <template slot="restaurant" slot-scope="data">
                    <router-link :to="{name: 'restaurant', params: {id: data.item.restaurant.id}}">{{data.item.restaurant.name}} ({{data.item.restaurant.street}})</router-link>
                </template>
            </b-table>
        </b-card>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'reservations',
        components: {

        },
        data: function () {
            return {
                reservations: null
            }
        },
        beforeRouteEnter (to, from, next) {
            axios('/api/v1/m/reservations', {method: 'GET'}).then((response) => {
                next(vm => vm.reservations = response.data.data)
            })
        },
        methods: {
            showStatus(status) {
                switch (status) {
                    case 'await': return 'Ожидает';
                    case 'confirmed': return 'Подтвержден';
                    case 'declined': return 'Отменен';
                }
            }
        }
    }
</script>
