<template>
    <div class="animated fadeIn">
        <b-card header="Рестораны">
            <b-table
                    hover
                    bordered
                    :items="restaurants"
                    :fields="{id: '#', name: 'Название', street: 'Адрес'}"
                    :head-variant="'light'">
                <template slot="name" slot-scope="data">
                    <router-link :to="{name: 'restaurant', params: {id: data.item.id}}">{{data.item.name}}</router-link>
                </template>
            </b-table>
        </b-card>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'restaurants',
        components: {

        },
        data: function () {
            return {
                restaurants: null
            }
        },
        beforeRouteEnter (to, from, next) {
            axios('/api/v1/m/restaurants', {method: 'GET'}).then((response) => {
                next(vm => vm.restaurants = response.data.data)
            })
        },
        methods: {

        }
    }
</script>
