<template>
      <b-nav-item-dropdown right no-caret>
        <template slot="button-content">
          <img src="static/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
        </template>
        <b-dropdown-header tag="div" class="text-center"><strong>Account</strong></b-dropdown-header>
        <b-dropdown-item href="/reservations"><i class="fa fa-bell-o"></i> Бронь<b-badge variant="info">{{itemsCount}}</b-badge></b-dropdown-item>
        <b-dropdown-item @click="logout"><i class="fa fa-lock"></i> Выход</b-dropdown-item>
      </b-nav-item-dropdown>
</template>
<script>
  import axios from 'axios'
  export default {
    name: 'header-dropdown',
    data: () => {
      return { itemsCount: 5 }
    },
    methods: {
      logout(e) {
        e.preventDefault()
        axios.post('/api/auth/logout')
          .then((request) => {
            this.$router.push({
              path: '/login',
              query: {redirect: this.$router.currentRoute.fullPath}
            })
          })
          .catch((error) => {
            this.$router.push({
              path: '/login',
              query: {redirect: this.$router.currentRoute.fullPath}
            })
          })
      }
    }
  }
</script>

