<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1>Вход</h1>
                <p class="text-muted">Войдите в свой аккаунт</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                  <span class="input-group-addon">+7</span>
                  <masked-input type="tel" mask="(111) 111-11-11" class="form-control" placeholder="Телефон" v-model="phone" />
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" class="form-control" placeholder="Пароль" v-model="password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" @click="login">Войти</button>
                  </div>
                  <!--div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div-->
                </div>
              </div>
            </div>
            <!--div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import MaskedInput from 'vue-masked-input'
import router from '../../router'

export default {
  name: 'Login',
  data() {
      return {
          code: '7',
          phone: '',
          password: '',
          from: null
      }
  },
  computed: {
    fullPhone () {
        return this.code + this.phone.replace(/[()\s-_]/g, '')
    }
  },
  components: {
      MaskedInput
  },
  beforeRouteEnter (to, from, next) {
      next(vm => {
          vm.from = from
      })
  },
  methods: {
    login(e) {
      e.preventDefault()
      axios.post('/api/auth/login', {
          phone: this.fullPhone,
          password: this.password
        })
        .then((response) => {
          if (response.data.access_token) {
              localStorage.setItem('token', response.data.access_token)
              this.$router.push(this.$route.query.redirect || {path: '/'})
          }
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>
